{%extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}All Meetups{% endblock %}

{% block site_css%}

    <link rel="stylesheet" href="{% static 'styles/all-meetups.css' %}">
{% endblock %}
</head>
    <!-- <h1>All Meetups</h1>
    <p>Hello World!</p>
    {%if show_meetups %}
        {% for meetup_item in meetups %}
            <p>{{ meetup_item.title }}</p>
        {% endfor %}
    {%else %}
        <p>No Meetups found</p>
    {% endif %} -->
    
    {% block main_heading %}
    We got great meetups coming up!
    {% endblock %}

    {% block header_content %}
    <p> Find the one that best suits your needs! </p>
    {% endblock %}

    {% block body %}
    
    <section>
        <h2>Upcoming Meetups</h2>
        <ol>
            {% for meetup_item in meetups %}
                {% include 'meetups/includes/meetup-item.html' with title=meetup_item.title image=meetup_item.image location='New York' slug=meetup_item.slug %}
            {% endfor %}
        </ol>
    </section>
    {% endblock %}